<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Payments"} %>

<h2><%= t("new_payment")%></h2>
                  
<%=error_messages_for :payment %>
<% form_for @payment, :url => collection_url do |payment_form| %>
  <%= payment_form.text_field :amount %>
  <p class="form-buttons">
    <%= button t('continue') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_order_payments_url(@order) %>
  </p>  
<% end %>
